#calculator {
    width: 200px;
    margin: auto;
}

#display {
    height: 50px;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    text-align: right;
    width: 180px;
}

button {
    width: 40px;
    height: 40px;
    margin: 1px;
}
